{% extends 'blog/base.html' %}

{% block content %}
    {% for publicacion in publicaciones %}
        <div class="box">
            <div class="notification is-link-is-light">
                publicado: {{ publicacion.fecha_publicacion }}
            </div>
            <h2 class="title is-1" ><a href="{% url 'publicacion_detalle' pk=publicacion.pk %}">{{publicacion.titulo}}</a></h2>
            <div class="content">{{ publicacion.texto|linebreaksbr }}</div>
        </div>
    {% endfor %}
{% endblock %} 
